body{
    margin: 0;
    padding: 0;
    background: #e3e3e3;
    overflow: hidden;
}
#main{
    background: red;
    height: 50vh;
    position: fixed;
    z-index:-1;
    width: 100%;
}
#form{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#heading{
    font-size: 20px;
    font-family: "Niconne";
}
#main_form{
    width: 250px;
    background: white;
    box-shadow: 0px 0px 5px gray;
    padding: 25px;
}
#main_form h2{
    text-align: center;
}
#main_form label{
    margin-top: 15px;
}
#main_form input{
    width: 100%;
    display: block;
    padding: 20px;
    box-sizing: border-box;
}
#main_form a{
    width: 100%;
}
#main_form button{
    display: 100%;
    
}